.dropdown {
    display: inline-block;
    position: sticky;
}
.dropdown button {
    background-color: white;
    cursor: pointer;
}
.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 3px;
    border-color: black;
    min-width: 10px;
}
.dropdown .dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    min-width: 300px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 50%, 0.8);
}
.dropdown:hover .dropdown-content {    /* Change hover to click */
    display: block;
}